<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SoftUni Website Header</title>
    <link href="styles/test.css" rel="stylesheet" />
</head>
<body>
<nav>
    <ul>
        <li><a href="#">0</a></li>
        <li><a href="#">USER<span>▼</span></a></li>
        <li>
            <form>
                <input type="text" maxlength="100" placeholder="Търси..." class="searchInput" />
                <button type="submit" class="searchButton" />
            </form>
        </li>
    </ul>
    <ul>
        <li>
            <a href="https://softuni.bg" id="logo"></a>
        </li>
        <li>
            <a href="https://softuni.bg/news" target="_blank">NEWS   </a>
        </li>
        <li tabindex="0" class="onclick-menu">
            <ul class="onclick-menu-content">
                <li>
                    <a href="https://softuni.bg/about" target="_blank">About us</a>
                </li>
                <li>
                    <a href="https://softuni.bg/professions" target="_blank">Professions</a>
                </li>
                <li>
                    <a href="https://softuni.bg/plans" target="_blank">Plans</a>
                </li>
            </ul>

        </li>
        <li id="dropdown">
            <a href="#">TRAINING COURSES<span>▼</span></a>
            <ul>
                <li>
                    <a href="https://softuni.bg/trainings/courses/list" target="_blank">COURSES</a>
                </li>
                <li>
                    <a href="https://softuni.bg/trainings/coursesinstances/details/3" target="_blank">Web Fundamentals</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="https://softuni.bg/companies" target="_blank">FOR COMPANIES</a>
        </li>
        <li>
            <a href="https://softuni.bg/forum" target="_blank">FORUM</a>
        </li>
        <li>
            <a href="https://softuni.bg/contacts" target="_blank">CONTACTS</a>
        </li>
    </ul>
</nav>

</body>
</html>