<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Website Header</title>
    <link rel="stylesheet" href="styles/website-header.css" type="text/css" media="screen">
</head>

<body>

<header>
<div id="wrapper">
  <nav>
      <a class="navbar-brand" href="https://softuni.bg/">
          <span>Software University</span>
          <div class="beta">beta</div>
      </a>
      <div class="user">
          <div class="form">
              <input type="search" placeholder="Търси...">
              <button type="submit"></button>
          </div>
          <div class="out-user">
              <div class="user-bar">
                  <span>User</span>
              </div>
              <div class="notification">
                  <span>0</span>
                  <div class="bell"></div>
              </div>
          </div>
      </div>

      <ul class="out">
          <li><a href="#">Новини</a></li>
          <li><a href="#">За университета</a>
            <ul>
                <li><a href="#">bla</a></li>
            </ul>
          </li>
          <li><a href="#">Обучения</a></li>
          <li><a href="#">Работа</a></li>
          <li><a href="#">Forum</a></li>
          <li><a href="#">Контакти</a></li>
      </ul>
  </nav>
</div>
</header>

</body>

</html>